<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Activation Code</title>
</head>

<body>

<style>
    body {
        height: 100%;
        background-repeat: no-repeat;
        background: url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
        font-family: 'Oxygen', sans-serif;
        background-size: cover;
    }
</style>


<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <h1>You've successfully registered!</h1>
            <h4>We emailed a code to <span th:text="${email}"></span></h4>
            <h4> Please, enter your email and activate your account.</h4>
            <h4> Then go to
                <a href="/main/signIn"> login page.</a>
            </h4>
        </div>
    </div>
</div>
</body>
</html>