<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <title>Books</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Book Repository</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/userPage/profile}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${control == 'ADMIN'}" th:href="@{/admin/read}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/favoriteBook/all}">Favorite Books</a>
            </li>




            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <form class="dropdown-item" th:action="@{/logout}" method="post">
                        <button sec:authorize="isAuthenticated()" class="btn-outline">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>

<div class="container">
    <div class="row py-2">
        <div class="col">
        </div>
        <div class="col-12">

            <div th:if="${process == 'SUCCESS'}">
                <div class="alert alert-success" role="alert"
                     th:utext="${pw_success}">...
                </div>
            </div>

            <div th:if="${process == 'ERROR'}">
                <div class="alert alert-danger" role="alert"
                     th:utext="${pw_error}">...
                </div>
            </div>
            <a class="btn btn-success nBtn" th:if="${control == 'ADMIN'}">Add Book</a>


            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${books.empty}">
                    <td class="text-center" colspan="5">No data</td>
                </tr>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td>
                        <a th:if="${control == 'ADMIN'}" th:href="@{/book/getOne/(id=${book.id})}"
                           class="btn btn-success eBtn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:if="${control == 'ADMIN'}" th:href="@{/book/delete/{id}(id=${book.id})}"
                           class="btn btn-danger delBtn" id="deleteButton">
                            <i class="far fa-trash-alt"></i>
                        </a>


                        <a th:href="@{/favoriteBook/add/{id}(id=${book.id})}"
                           class="btn btn-warning favBtn">
                            <i class="fas fa-star"></i>
                        </a>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!--#Modal for book create-->
<div class="myFormCreate">
    <form th:action="@{/book/create}" method="post">
        <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabelCreate">Create book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-info">
                            Input data to the fields
                        </p>

                        <div class="form-group">
                            <label class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" value="" required/>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author" value="" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--End form-->

<!--Modal form for book update-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form th:action="@{/book/update}" method="put">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <!--                        <label  class="col-form-label">Id:</label>-->
                        <input type="hidden" class="form-control" id="idEdit" name="id">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="titleEdit" name="title">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Author:</label>
                        <input type="text" class="form-control" id="authorEdit" name="author">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--End form-->

<!--#Modal for removing books-->
<div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog" aria-labelledby="removeModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalCenterTitle">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger">
                    Are You sure You want to delete this Book?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="" class="btn btn-danger" id="delRef">Delete</a>
            </div>
        </div>
    </div>
</div>
<!--End form-->

<!--#Modal for creating favorite books-->
<div class="modal fade" id="favoriteModalCenter" tabindex="-1" role="dialog" aria-labelledby="favoriteModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="favoriteModalCenterTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">
                    Are You sure You want to make this book favorite?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No,thanks!</button>
<!--                <a href="" -->
         <a          class="btn btn-success" id="favRef">Yes!</a>
            </div>
        </div>
    </div>
</div>

<!--End form-->


<script>
    $(document).ready(function () {
        //for creating book
        $('.nBtn').on('click', function (event) {
            event.preventDefault();
            $('.myFormCreate #title').val('');
            $('.myFormCreate #author').val('');
            $('.myFormCreate #myModalCreate').modal();
        });
        //for update book
        $('.table .eBtn').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get(href, function (book, status) {
                $('#idEdit').val(book.id);
                $('#titleEdit').val(book.title);
                $('#authorEdit').val(book.author);
            });
            $('#editModal').modal();
        });
        //for delete book
        $('.table .delBtn').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#removeModalCenter #delRef').attr('href', href);
            $('#removeModalCenter').modal();
        });
        //for favorite book
        $('.table .favBtn').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#favoriteModalCenter #favRef').attr('href', href);
            $('#favoriteModalCenter').modal();
        });
    });
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
