<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/casLayout}" layout:fragment="content">
<head>
    <title th:text="error.label">Error page</title>
    <meta charset="utf-8" />

</head>
<style>

    body { background-color:#F7F7F7;   }
    .error-template {padding: 40px 15px;text-align: center; margin-top:20%;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }

</style>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2 th:text="${errorMessage}"></h2>


                <div class="error-actions">
                    <a href="index.html"  th:href="@{/login}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="index.html" th:href="@{/}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>