<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Login</title>

</head>

<body>
<style>

    body{
        height: 100%;
        background-repeat: no-repeat;
        background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
        font-family: 'Oxygen', sans-serif;
        background-size: cover;
    }


    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

    input[type="text"] {
        margin-bottom: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>


<div th:replace="fragments/header :: header"/>
<br>
<br>
<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/user/signUp}" method="post" th:object="${user}">
                <fieldset>
                    <h1>Please Register</h1>

                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <input type="email"  th:field="*{email}"  class="form-control input-lg"
                               placeholder="email"  autofocus="true"/>
                        <small class="text-danger" th:each="err: ${#fields.errors('email')}" th:text="${err}"></small>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{name}"  class="form-control input-lg"
                               placeholder="name" required="true" autofocus="true"/>
                        <small class="text-danger" th:each="err: ${#fields.errors('name')}" th:text="${err}"></small>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{surName}" class="form-control input-lg"
                               placeholder="surname" required="true" autofocus="true"/>
                        <small class="text-danger" th:each="err: ${#fields.errors('surName')}" th:text="${err}"></small>
                    </div>

                    <div class="form-group">
                        <input type="password" th:field="*{password}"   class="form-control input-lg"
                               placeholder="password" required="true"/>
                        <small class="text-danger" th:each="err: ${#fields.errors('password')}" th:text="${err}"></small>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{age}" id="username" class="form-control input-lg"
                               placeholder="age" required="true" autofocus="true"/>
                        <small class="text-danger" th:each="err: ${#fields.errors('age')}" th:text="${err}"></small>
                    </div>


                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Up"/>
                            <span>Already registered? <a href="/" th:href="@{/user/signIn}">Login
								here</a></span>
                        </div>
<!--                        <div class="col-xs-6 col-sm-6 col-md-6"></div>-->
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>












