<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Register</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/user/}">Book Repository</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"></li>
        </ul>

        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/user/signIn}">Login</a>
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/user/signUp}">Register</a>
        </form>

    </div>
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">

            <form th:action="@{/user/signUp}" method="post" th:object="${user}">

                <div class="form-group">
                    <label><span class="required">* </span>Name</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="name">
                    <small class="text-danger" th:each="err: ${#fields.errors('name')}" th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <label><span class="required">* </span>Surname</label>
                    <input type="text" class="form-control" th:field="*{surName}" placeholder="surname">
                    <small class="text-danger" th:each="err: ${#fields.errors('surName')}" th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <label><span class="required">* </span>Age</label>
                    <input type="text" class="form-control" th:field="*{age}" placeholder="age">
                    <small class="text-danger" th:each="err: ${#fields.errors('age')}" th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <label><span class="required">* </span>Email</label>
                    <input type="email" class="form-control" th:field="*{email}" placeholder="email">
                    <small class="text-danger" th:each="err: ${#fields.errors('email')}" th:text="${err}"></small>
                </div>

                <div class="form-group">
                    <label><span class="required">* </span>Password</label>
                    <input type="text" class="form-control" th:field="*{password}" placeholder="password">
                    <small class="text-danger" th:each="err: ${#fields.errors('password')}" th:text="${err}"></small>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>

<!--                <h2><span class="text-success" >Success registered</span></h2>-->

            </form>

        </div>
    </div>
</div>

</body>
</html>



