<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>


<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Book Repository</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/userPage/profile}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${control == 'ADMIN'}" th:href="@{/admin/read}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/book/read}">Books</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/favoriteBook/all}">Favorite Books</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <form class="dropdown-item" th:action="@{/logout}" method="post">
                        <button sec:authorize="isAuthenticated()" class="btn-outline">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/book/search}"  method="get">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Book"
                   th:value="${search}" aria-label="Search" required="true">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>
<br>
<br>
<br>


<div class="container">
    <div class="row py-2">
        <div class="col">
        </div>
        <div class="col-12">
            <div th:if="${process == 'SUCCESS'}">
                <div class="alert alert-success" role="alert"
                     th:utext="${pw_success}">...
                </div>
            </div>

            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${searchResult.empty}">
                    <td class="text-center" colspan="5">No data</td>
                </tr>

                <tr th:each="book : ${searchResult}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td>
                        <a th:href="@{/favoriteBook/add/{id}(id=${book.id})}"
                           class="btn btn-warning favBtn">
                            <i class="fas fa-star"></i>
                        </a>

                        <a th:href="@{/book/info/{id}(id=${book.id})}"
                           class="btn btn-info">
                            <i class="fas fa-poll-h"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>