<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>User Profile</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Book Repository</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/book/read}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/favoriteBook/all}">Favorite Books</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Settings</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
<!--                    <a class="dropdown-item chBtn">Change Password</a>-->
                    <a class="dropdown-item" th:href="@{/userPage/change_pass}">Change Password</a>
                    <form class="dropdown-item" th:action="@{/logout}" method="post">
                        <button sec:authorize="isAuthenticated()" class="btn-outline">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
        <div style="color:#FFFFFF" class="nav-item active">
            <h5>Welcome, <span th:text="${name} + ${tab} + ${surname} ">Welcome guest!</span></h5>
        </div>
    </div>
</nav>
<br>
<br>
<br>

<div class="container">
    <div class="row py-2">
        <div class="col-12">

            <div th:if="${process == 'SUCCESS'}">
                <div class="alert alert-success" role="alert"
                     th:utext="${pw_success}">...
                </div>
            </div>

            <div th:if="${process == 'ERROR'}">
                <div class="alert alert-danger" role="alert"
                     th:utext="${pw_error}">...
                </div>
            </div>

            <table class="table table-bordered my-2">

                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Age</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="us : ${user}">
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.surName}">surName</td>
                    <td th:text="${user.age}">age</td>
                    <td>
<!--                        <a class="btn btn-success eBtn"-->

                        <a class="btn btn-success"
                           th:href="@{/user/edit/(id=${user.id})}" >
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<!--Modal form for user update-->
<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">-->
<!--    <form th:action="@{/user/update}" method="post">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="editModalLabel">Edit User</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->

<!--                    <div class="form-group">-->
<!--                        &lt;!&ndash;                        <label  class="col-form-label">Id:</label>&ndash;&gt;-->
<!--                        <input type="hidden" class="form-control" id="idEdit" name="id">-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label class="col-form-label">Name:</label>-->
<!--                        <input type="text" class="form-control" id="nameEdit" name="name">-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label class="col-form-label">Surname:</label>-->
<!--                        <input type="text" class="form-control" id="surNameEdit" name="surName">-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <label class="col-form-label">Age:</label>-->
<!--                        <input type="text" class="form-control" id="ageEdit" name="age">-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="submit" class="btn btn-primary">Save</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--End form-->

<!--#Modal form for change password-->
<!--<div class="myFormChangePassword">-->
<!--    <form th:action="@{/userPage/savePass_change}" method="post" th:object="${user}">-->
<!--        <div class="modal fade" id="myModalChangePassword" tabindex="-1" role="dialog"-->
<!--             aria-labelledby="modalLabelCreate"-->
<!--             aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="modalLabelCreate">Change Password</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <p class="alert alert-info">-->
<!--                            Input data to the fields-->
<!--                        </p>-->
<!--                        <input type="hidden" name="id" th:field="${user.id}"/>-->

<!--                        <div class="form-group">-->
<!--                            <label class="col-form-label">Old password:</label>-->
<!--                            <input type="text" class="form-control" id="password" name="password"-->
<!--                                   th:field="${user.name}" value="" required/>-->

<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-form-label">New password:</label>-->
<!--                            <input type="text" class="form-control"-->
<!--                                   th:field="${user.password}" value="" required/>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-form-label">Confirm new password:</label>-->
<!--                            <input type="text" class="form-control" value="" required/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        <input type="submit" class="btn btn-primary" value="Save"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--End form-->


<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        //for update user-->
<!--        // $('.table .eBtn').on('click', function (event) {-->
<!--        //     event.preventDefault();-->
<!--        //     var href = $(this).attr('href');-->
<!--        //     $.get(href, function (user, status) {-->
<!--        //         $('#idEdit').val(user.id);-->
<!--        //         $('#nameEdit').val(user.name);-->
<!--        //         $('#surNameEdit').val(user.surName);-->
<!--        //         $('#ageEdit').val(user.age);-->
<!--        //     });-->
<!--        //     $('#editModal').modal();-->
<!--        // });-->
<!--        // for change password-->
<!--        $('.chBtn').on('click', function (event) {-->
<!--            event.preventDefault();-->
<!--            $('.myFormChangePassword #password').val('');-->
<!--            $('.myFormChangePassword  ').val('');-->
<!--            $('.myFormChangePassword ').val('');-->
<!--            $('.myFormChangePassword #myModalChangePassword').modal();-->
<!--        });-->
<!--    });-->
<!--</script>-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

