<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<style>
    body {
        height: 100%;
        background-repeat: no-repeat;
        background: url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
        font-family: 'Oxygen', sans-serif;
        background-size: cover;
    }
</style>

<div class="container my-5">

    <h3> Update User</h3>

    <div class="card">
        <div class="card-body">
            <div class="col-md-10">

                <form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label">*Name</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="firstName" placeholder="name"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">*Surname</label>
                            <input type="text" th:field="*{surName}" class="form-control"
                                   id="lastName" placeholder="surname"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">*Email</label>
                            <input type="text" th:field="*{email}" class="form-control"
                                   id="email" placeholder="email"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">*Age</label>
                            <input type="text" th:field="*{age}" class="form-control"
                                   placeholder="age"/>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>